body{
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
    .site-header{
        text-align: center;
        padding-top: 10px;
        height: 60px;
        width: 100%;
        background-color: rgba(0, 0, 0, .85);
    }  
.header_important{
    color: #999;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}
    .header_important:hover{
        color: white;
    }
.position{
    height: auto;
    width: 100%;
}
/* img tlp white */
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}
/* img tlp black */
.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}
.product-device {
    position: absolute;
    width: 300px;
    height: 540px;
    border-radius: 21px;
    transform: rotate(30deg);
}
.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}
/*  */
.main{
    padding: 0 200px !important;
}   
.overflow-hidden{
    overflow: hidden;
}
.flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
}
/* footer */
.text-muted{
    text-decoration: none;
}